<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.inventory.mapper.ProductTempMaterialMapper">
    <resultMap id="BaseResultMap" type="com.ys.inventory.entity.ProductTempMaterial">
        <id column="product_temp_material_id" jdbcType="VARCHAR" property="productTempMaterialId"/>
        <result column="product_temp_id" jdbcType="VARCHAR" property="productTempId"/>
        <result column="material_id" jdbcType="VARCHAR" property="materialId"/>
        <result column="material_num" jdbcType="INTEGER" property="materialNum"/>
    </resultMap>

    <delete id="deleteForUpdate" parameterType="String">
         delete from product_temp_material
        where product_temp_id = #{productTempId}
    </delete>

    <insert id="insertBatch" parameterType="java.util.List">
        replace into product_temp_material (
        product_temp_material_id,
        product_temp_id,
        material_id,
        material_num,
        create_time,
        create_user,
        update_time,
        update_user,
        delete_flag
        )
        values
        <foreach item="st" collection="list" open="" separator="," close="">
            (
            #{st.productTempMaterialId},
            #{st.productTempId},
            #{st.materialId},
            #{st.materialNum},
            now(),
            #{st.createUser},
            now(),
            #{st.createUser},
            '0'
            )
        </foreach>
    </insert>

    <select id="selectByProductTempId" parameterType="String" resultMap="BaseResultMap">
        SELECT
            ptm.material_id ,ptm.material_num
        FROM
            product_temp_material ptm
        WHERE
            product_temp_id = #{productTempId,jdbcType=VARCHAR}
    </select>
</mapper>