<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.inventory.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.ys.inventory.entity.Product">
        <id column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="product_description" jdbcType="VARCHAR" property="productDescription"/>
        <result column="product_num" jdbcType="INTEGER" property="productNum"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag"/>
    </resultMap>
    <insert id="insert" parameterType="Product">
      insert into product (
        product_id,
        product_name,
        product_description,
        product_num,
        create_time,
        create_user,
        update_time,
        update_user,
        delete_flag
      )
      values (
        #{productId},
        #{productName},
        #{productDescription},
        #{productNum},
        now(),
        #{createUser},
        now(),
        #{createUser},
        '0'
      )
  </insert>

    <select id="isNotExistProduct" parameterType="string" resultType="boolean">
        <![CDATA[
          select count(product_id) from product where product_name=#{productName}
        ]]>
    </select>


    <insert id="insertBatch" parameterType="Product">
        replace into product (
        product_id,
        product_name,
        product_description,
        product_num,
        create_time,
        create_user,
        update_time,
        update_user,
        delete_flag
        )
        values
        <foreach item="st" collection="list" open="" separator="," close="">
            (
            #{st.productId},
            #{st.productName},
            #{st.productDescription},
            #{st.productNum},
            now(),
            #{st.createUser},
            now(),
            #{st.createUser},
            '0'
            )
        </foreach>
    </insert>


    <update id="updateProduct" parameterType="Product">
        update product
        <set>
            <if test="productName != null">
                product_name=#{productName},
            </if>
            <if test="productNum != null">
                product_num=#{productNum},
            </if>
            <if test="productDescription != null">
                product_description=#{productDescription},
            </if>
            update_time = now(),
            update_user = #{updateUser}
        </set>
        where product_id = #{productId}
    </update>
    <select id="get" parameterType="String" resultType="Product">
          SELECT
          p.product_id,
          p.product_name,
          p.product_description,
          p.product_num,
          p.create_time,
          (select u.user_name from user u where u.user_id = p.create_user) create_user,
          u.user_name
      FROM
          product p LEFT JOIN user u ON p.create_user = u.user_id
      WHERE
          product_id = #{productId,jdbcType=VARCHAR}
          AND p.delete_flag = '0'
  </select>

    <update id="delete" parameterType="map">
        update product
        set delete_flag = '1',
        update_time = now(),
        update_user = #{updateUser}
        where
        delete_flag = '0'
        and product_id = #{productId}
    </update>

    <select id="find" resultType="Product">
    select
      product_id,
      product_name,
      product_description,
      product_num,
      create_time,
      (select u.user_name from user u where u.user_id = create_user) create_user,
      update_time
    from product
        where delete_flag = '0'
        <if test="productName !=null">
            and product_name like concat('%', #{productName},'%')
        </if>
        order by create_time desc
  </select>
</mapper>